# TMDS Clock Pair
IO_LOC "O_tmds_clk_p" 33;
IO_PORT "O_tmds_clk_p" PULL_MODE=NONE;

IO_LOC "O_tmds_clk_n" 34;
IO_PORT "O_tmds_clk_n" PULL_MODE=NONE;

# TMDS Data Lane 0
IO_LOC "O_tmds_data_p[0]" 35;
IO_PORT "O_tmds_data_p[0]" PULL_MODE=NONE;

IO_LOC "O_tmds_data_n[0]" 36;
IO_PORT "O_tmds_data_n[0]" PULL_MODE=NONE;

# TMDS Data Lane 1
IO_LOC "O_tmds_data_p[1]" 37;
IO_PORT "O_tmds_data_p[1]" PULL_MODE=NONE;

IO_LOC "O_tmds_data_n[1]" 38;
IO_PORT "O_tmds_data_n[1]" PULL_MODE=NONE;

# TMDS Data Lane 2
IO_LOC "O_tmds_data_p[2]" 39;
IO_PORT "O_tmds_data_p[2]" PULL_MODE=NONE;

IO_LOC "O_tmds_data_n[2]" 40;
IO_PORT "O_tmds_data_n[2]" PULL_MODE=NONE;

IO_LOC "O_led[5]" 15;
IO_PORT "O_led[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "O_led[4]" 16;
IO_PORT "O_led[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "O_led[3]" 17;
IO_PORT "O_led[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "O_led[2]" 18;
IO_PORT "O_led[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "O_led[1]" 19;
IO_PORT "O_led[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "O_led[0]" 20;
IO_PORT "O_led[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "I_key" 87;
IO_PORT "I_key" PULL_MODE=DOWN;
IO_LOC "I_rst" 88;
IO_PORT "I_rst" PULL_MODE=DOWN;
IO_LOC "I_clk" 4;
IO_PORT "I_clk" PULL_MODE=UP;
